{% extends 'food/base.html' %}
{% block body %}

<br><br><br>

<div class="container">
    <div class="row">
         <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div class="card-title">
                        Add Item
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                         <label class="offset-md-1">Product Code: </label><br>
                        <p class="offset-md-1">{{ form.prod_code }}</p>
                        <label class="offset-md-1">For User: </label><br>
                        <p class="offset-md-1">{{ form.for_user }}</p>
                        <label class="offset-md-1">Item Name: </label><br>
                        <p class="offset-md-1">{{ form.item_name }}</p>
                        <label class="offset-md-1">Item Description: </label><br>
                        <p class="offset-md-1">{{ form.item_desc }}</p>
                        <label class="offset-md-1">Item Price: </label><br>
                        <p class="offset-md-1">{{ form.item_price }}</p>
                        <label class="offset-md-1">Item Image: </label><br>
                        <p class="offset-md-1">{{ form.item_image }}</p><br>
                        <button class="offset-md-1 btn btn-success btn-sm" type="submit">SAVE</button>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>




{%  endblock %}